body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #eeefef;
}
.perfil img {
    width: 50px;
    height: 50px;
}
.carrito img {
    width: 50px;
    height: 50px;
}
.logo img {
    width: 150px;
    height: 150px;
}
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #F8BA4D;
    padding: 10px;
}
.nav-bar button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}
.nav-bar button:hover {
    background-color: lightgray;
}
.imagenes img {
    width: 350px;
    height: 250px;
}
.menu{
    text-align: center;
    background-color: #F3EEF8;
    padding: 20px;
}
.menu-productos{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row-reverse; 
     padding: 10px;
}
.menu-comida{
    background: #857E81;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}
.menu-comida img{
    width: 90%;
    border-radius: 10px;
}
.menu-comida p{
   font-size: ;
    color: ;
}
.menu-comida span{
    font-size: 20px;
    font-weight: bold;
    color: ;
}
.mapita{
    text-align: center;
    size: 5px;
    padding: 5px;
    margin-top: 15px;
    justify-content: center;
    background-color: #;
    border: 2px solid #000;
}
.video{
    background-color: #FFD133;
    transform: scale(1.2);
    transform-origin: center;
}

.videoS{
  
    transform: scale(1.0);
    transform: scaleX(3.0);
    transform-origin: center;

}

